<div class="container py-5">
<%= link_to "Add a pet", new_pet_path, class: "btn btn-primary" %>
    <div class="row my-5">
        <% @pets.each do |pet| %>
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <img src="<%= pet.image_url %>" class="card-img-top" alt="pet">
                    <div class="card-body">
                        <h5 class="card-title"><%= pet.name %></h5>
                        <p class="card-text">
                        <%= pet.species %> / Found <%= pet.found_days_ago ? 'today' : 
                        "#{pluralize(pet.found_days_ago, 'day')} ago" %> in <%= pet.location %>
                        </p>
                        <%= link_to "See #{pet.name}", pet, class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
         <% end %>
    </div>
</div>

